
.container {
    display: flex;
    align-content: center;
    border-style: solid;
    background-color: rgb(8, 58, 3);
    filter: drop-shadow(0 0 0.75rem crimson);
}

h1 {
    color: white;
    font-family: Lucida Console;
}

h3 {
    color: white;
    font-family: Lucida Console;
}

.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(245, 245, 49, 0.993);
}

.grid div {
    height: 20px;
    width: 20px;
}

.tetromino {
    background-color: blue;
}

.mini-grid {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(245, 245, 49, 0.993);
}

.mini-grid div {
    height: 20px;
    width: 20px;
}

html {
    background-color: rgb(77, 7, 67);
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#start-button {
    background-color:crimson;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10%;
    font-family: Lucida Console;
    transition-duration: 0.4s;
    filter: drop-shadow(1px 4px 4px black);
  }
  
  #start-button:hover {
    background-color: green;
    color: white;
  }